/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
/bootstrap/cache
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
# composer.lock
.vagrant
yarn.lock
package-lock.json
.DS_Store
firebase.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Elastic Beanstalk Extension Files
# .ebextensions/*
